*{
    letter-spacing: 0.8px;
    line-height: 1.5em;
}

.bg-primary {
    background-color: #ffd504 !important;
    background-image: url(../assets/img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

p.redred{
    background-color: black;
    color:#FF4040;
    border: 5px solid;
    border-color: brown;
    font-size: 200%;
    text-align: left;
    text-indent:4em；
}

.blueblue{
     color:	#6692EF;
}
body{
    font-family: 'Noto Sans TC',sans-serif;
}